<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

<h:head>
    <h:outputStylesheet library="css" name="style.css"/>
    <title>OpenIOT IDE</title>
</h:head>

<h:body>
    <pe:layout id="page" fullPage="true">

        <!-- North -->
        <pe:layoutPane position="north" size="10%" closable="true"
                       resizable="false">
            <h:form>
                <p:commandLink actionListener="#{layout.setNavigation(nav.welcomePage)}"
                               update=":centerPanel">
                    <p:graphicImage value="/resources/img/openiotlogo_left_IDE.jpg"
                                    style="max-width: 100% !important; max-height:100% !important; margin-left: 10px"/>
                </p:commandLink>
            </h:form>
        </pe:layoutPane>

        <!-- West -->
        <pe:layoutPane id="westPane" position="west" size="220" effect="slide"
                       resizable="false" spacingClosed="6" spacingOpen="6"
                       styleClassHeader="menuBar">
            <f:facet name="header">Menu</f:facet>
            <h:form id="menuForm" prependId="false">
                <p:menu model="#{layout.menu}"/>

                <br/>
                <p:commandButton value="Refresh Menu"
                                 actionListener="#{layout.init}"
                                 update=":centerPanel @form"/>
            </h:form>
        </pe:layoutPane>

        <!-- Center -->
        <pe:layoutPane id="center" position="center" maskContents="true"
                       resizable="false">

            <h:panelGroup id="centerPanel" layout="block">
                <iframe id="navigation" src="#{layout.navigation}" onload="hideDialog()"
                        class="centerPanel">
                </iframe>
            </h:panelGroup>
        </pe:layoutPane>

    </pe:layout>


    <p:ajaxStatus onstart="start()"/>

    <p:dialog widgetVar="statusDialog" resizable="false" showHeader="false"
              draggable="false" closable="false">
        <p:graphicImage value="/resources/img/progress.gif"/>
    </p:dialog>

    <h:outputScript name="js/script.js"/>
</h:body>
</html>
